<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron bg-danger">
    <H1 class="display-4">Error</H1>
</div>
<div class="container">
    <p><%= mesg %><p>
    <button onclick="location.href = '/read';">Home</button>
</div>
</body>
</html>