<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="login-card">
    <p class="profile-name-card">
    <h1>Lgoin</h1></p>
    <form class="form-signin" action="/login" method="post">
        <span class="reauth-email"> </span>
        <input class="form-control" type="text" required="" name="name" placeholder="Username" autofocus="">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Lgoin</button>
    </form>
</div>
</body>

</html>